@font-face {
    font-family: Linerama;
    src: url('gui/LineramaBold-d9VnE.ttf');
}
.root{
    -fx-background-color: #2d4945;
}
.sideBarText{
    -fx-fill: #00ffe4;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-font-family: 'Linerama';
}
.sidebar{
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-image: url('gui/sidebar-bg.png');
}
.toolbar{
    -fx-background-image: url('gui/toolbar-bg.png');
    -fx-background-position: center;
}
.sideBarButton{
    -fx-background-image: url('gui/level-button.png');
    -fx-font-size: 18px;
    -fx-font-family: 'Linerama';
}
.dialogueBox{
    -fx-background-image: url('gui/editor-dialogue-box.png');
    -fx-font-family: 'Linerama';
}
.dialogueTitle{
    -fx-font-size: 30px;
    -fx-text-alignment: center;
    -fx-fill: #00ffe4;
}
.savingDialogueBox{
    -fx-background-image: url('gui/level-save-dialogue-box.png');
    -fx-font-family: 'Linerama';
}

