@font-face {
    font-family: Linerama;
    src: url('gui/LineramaBold-d9VnE.ttf');
}
.root{
    -fx-background-color: #2d4945;
}

.button{
    -fx-background-image: url('gui/level-button.png');
    -fx-font-size: 18.0px;
    -fx-font-family: 'Linerama';
}

.profile-button {
    -fx-background-image: url('gui/profile-button.png');
    -fx-font-size: 18.0px;
    -fx-font-family: 'Linerama';
}

.label {
    
    -fx-text-fill: #00ffe4;
    -fx-font-size: 20.0px;
    -fx-text-alignment: center;
    -fx-font-family: 'Linerama'
}

.profileLabel {
    -fx-font-size: 30.0px;
    
}


