@font-face {
    font-family: Linerama;
    src: url('../../../resources/gui/LineramaBold-d9VnE.ttf');
}
.root{
    -fx-background-color: #2d4945;
}
.sidebar{
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-image: url('../../../resources/gui/sidebar-bg.png');
}
.toolbar{
    -fx-background-image: url('../../../resources/gui/toolbar-bg.png');
    -fx-background-position: center;
}
.sideBarButton{
    -fx-background-image: url('../../../resources/gui/level-button.png');
    -fx-font-size: 18px;
    -fx-font-family: 'Linerama';
}

.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em; /* 4 8 4 8 */
}
.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
}