@font-face {
    font-family: Linerama;
    src: url('../../../resources/gui/LineramaBold-d9VnE.ttf');
}
.root{
    -fx-background-color: #2d4945;
}
.sidebar{
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-image: url('../../../resources/gui/sidebar-bg.png');
}
.maleRatCounter{
    -fx-background-image: url('../../../resources/gui/male-rat-counter.png');
    -fx-font-size: 30px;
    -fx-text-fill: #08436F;
    -fx-font-family: 'Linerama';
}
.femaleRatCounter{
    -fx-background-image: url('../../../resources/gui/female-rat-counter.png');
    -fx-font-size: 30px;
    -fx-text-fill: #6F0849;
    -fx-font-family: 'Linerama';
}
.timer{
    -fx-background-image: url('../../../resources/gui/timer.png');
    -fx-font-size: 30px;
    -fx-font-family: 'Linerama';
}
.toolbar{
    -fx-background-image: url('../../../resources/gui/toolbar-bg.png');
}
.sideBarButton{
    -fx-background-image: url('../../../resources/gui/button.png');
    -fx-font-size: 18px;
    -fx-font-family: 'Linerama';
}